# sql notes

sqlite3_download_site = "https://sqlitebrowser.org/dl/"

In [1]:
import sqlite3

# Connect to the database (or create it if it doesn't exist)
conn = sqlite3.connect('mydata_base.db')

# Create a cursor object to interact with the database
cur = conn.cursor()

# Create a table
cur.execute('''CREATE TABLE IF NOT EXISTS users
               (id INTEGER PRIMARY KEY, name TEXT, age INTEGER)''')

# Insert some data into the table
cur.execute("INSERT INTO users (name, age) VALUES (?, ?)", ('govindarasan', 34))
cur.execute("INSERT INTO users (name, age) VALUES (?, ?)", ('kavitha', 30))
cur.execute("INSERT INTO users (name, age) VALUES (?, ?)", ('kumar', 35))

# Commit the changes
conn.commit()

# Close the connection
conn.close()

In [2]:
#random records creating 

import sqlite3
import random
import string

# Connect to the database (or create it if it doesn't exist)
conn = sqlite3.connect('mydata_base1.db')

# Create a cursor object to interact with the database
cur = conn.cursor()

# Create a table
cur.execute('''CREATE TABLE IF NOT EXISTS users
               (id INTEGER PRIMARY KEY, name TEXT, age INTEGER)''')

# Generate and insert 50 records
for _ in range(50):
    name = ''.join(random.choices(string.ascii_letters, k=random.randint(5, 10)))
    age = random.randint(20, 60)
    cur.execute("INSERT INTO users (name, age) VALUES (?, ?)", (name, age))

# Commit the changes
conn.commit()

# Close the connection
conn.close()

In [3]:
# view all the records 

import sqlite3

# Connect to the database
conn = sqlite3.connect('mydata_base1.db')

# Create a cursor object
cur = conn.cursor()

# Execute a SELECT query to fetch all records
cur.execute("SELECT * FROM users")

# Fetch all rows
rows = cur.fetchall()

# Print the rows
for row in rows:
    print(row)

# Close the connection
conn.close()

(1, 'cwHQQ', 59)
(2, 'sNEKYq', 39)
(3, 'dwXBEtJiDq', 31)
(4, 'OOQfO', 23)
(5, 'AnoRYXsHm', 51)
(6, 'qAOTdCp', 53)
(7, 'QgtjRB', 45)
(8, 'SCNKQ', 49)
(9, 'fcjDTBqY', 60)
(10, 'yMcNGrQb', 50)
(11, 'vntZN', 55)
(12, 'KwCJhM', 57)
(13, 'FjXAkfyf', 53)
(14, 'lrlttuZV', 60)
(15, 'uoThAH', 35)
(16, 'BbqNvNyxUt', 20)
(17, 'LMFmwl', 20)
(18, 'fdAemt', 21)
(19, 'DTRLlSrMO', 31)
(20, 'BtnyO', 49)
(21, 'rCdmvJcco', 58)
(22, 'iJtQuq', 35)
(23, 'nqyDRhFJF', 23)
(24, 'aZRmpr', 43)
(25, 'EtsThzXS', 55)
(26, 'qBrfDEhWz', 51)
(27, 'SwEgWCQW', 42)
(28, 'mlJFlgsQjb', 36)
(29, 'bQHRlgA', 27)
(30, 'sdWjIqj', 54)
(31, 'OKYmJCjPu', 46)
(32, 'XDzXw', 51)
(33, 'YYlsMNW', 27)
(34, 'UotQnmCzFe', 23)
(35, 'bHhti', 44)
(36, 'MGFqSdf', 28)
(37, 'geKzQQoB', 37)
(38, 'lxahMRB', 27)
(39, 'lNjoY', 31)
(40, 'mQKVJ', 59)
(41, 'ycpfitHw', 43)
(42, 'zrZdZlws', 42)
(43, 'CyOCdpZ', 40)
(44, 'njxBbTdb', 42)
(45, 'qeywDQmjli', 46)
(46, 'IYZeenO', 22)
(47, 'wPYYv', 33)
(48, 'VcPnwcNOf', 53)
(49, 'WyFkCdIuQ', 20)
(50, 'HyuukIf', 25)

In [4]:
import sqlite3

# Connect to the database
conn = sqlite3.connect('mydata_base1.db')

# Create a cursor object
cur = conn.cursor()

# Update the record with id=1
new_name = 'tamilgovindarasan'
new_age = 34
record_id = 1
cur.execute("UPDATE users SET name=?, age=? WHERE id=?", (new_name, new_age, record_id))

# Commit the changes
conn.commit()

#view the changes 
# Execute a SELECT query to fetch all records
cur.execute("SELECT * FROM users")

# Fetch all rows
rows = cur.fetchall()

# Print the rows
for row in rows:
    print(row)
# Close the connection
conn.close()

(1, 'tamilgovindarasan', 34)
(2, 'sNEKYq', 39)
(3, 'dwXBEtJiDq', 31)
(4, 'OOQfO', 23)
(5, 'AnoRYXsHm', 51)
(6, 'qAOTdCp', 53)
(7, 'QgtjRB', 45)
(8, 'SCNKQ', 49)
(9, 'fcjDTBqY', 60)
(10, 'yMcNGrQb', 50)
(11, 'vntZN', 55)
(12, 'KwCJhM', 57)
(13, 'FjXAkfyf', 53)
(14, 'lrlttuZV', 60)
(15, 'uoThAH', 35)
(16, 'BbqNvNyxUt', 20)
(17, 'LMFmwl', 20)
(18, 'fdAemt', 21)
(19, 'DTRLlSrMO', 31)
(20, 'BtnyO', 49)
(21, 'rCdmvJcco', 58)
(22, 'iJtQuq', 35)
(23, 'nqyDRhFJF', 23)
(24, 'aZRmpr', 43)
(25, 'EtsThzXS', 55)
(26, 'qBrfDEhWz', 51)
(27, 'SwEgWCQW', 42)
(28, 'mlJFlgsQjb', 36)
(29, 'bQHRlgA', 27)
(30, 'sdWjIqj', 54)
(31, 'OKYmJCjPu', 46)
(32, 'XDzXw', 51)
(33, 'YYlsMNW', 27)
(34, 'UotQnmCzFe', 23)
(35, 'bHhti', 44)
(36, 'MGFqSdf', 28)
(37, 'geKzQQoB', 37)
(38, 'lxahMRB', 27)
(39, 'lNjoY', 31)
(40, 'mQKVJ', 59)
(41, 'ycpfitHw', 43)
(42, 'zrZdZlws', 42)
(43, 'CyOCdpZ', 40)
(44, 'njxBbTdb', 42)
(45, 'qeywDQmjli', 46)
(46, 'IYZeenO', 22)
(47, 'wPYYv', 33)
(48, 'VcPnwcNOf', 53)
(49, 'WyFkCdIuQ', 20)
(50, 'HyuukIf', 25)

In [12]:
import sqlite3

# Connect to the database
conn = sqlite3.connect('mydata_base1.db')

# Create a cursor object
cur = conn.cursor()

# Delete the record with id=1
record_id = 5
cur.execute("DELETE FROM users WHERE id=?", (record_id,))

# Commit the changes
conn.commit()

# Execute a SELECT query to fetch all records
cur.execute("SELECT * FROM users")

# Fetch all rows
rows = cur.fetchall()

# Print the rows
for row in rows:
    print(row)
    
# Close the connection
conn.close()

(1, 'tamilgovindarasan', 34)
(2, 'sNEKYq', 39)
(3, 'dwXBEtJiDq', 31)
(4, 'OOQfO', 23)
(6, 'qAOTdCp', 53)
(7, 'QgtjRB', 45)
(8, 'SCNKQ', 49)
(9, 'fcjDTBqY', 60)
(10, 'yMcNGrQb', 50)
(11, 'vntZN', 55)
(12, 'KwCJhM', 57)
(13, 'FjXAkfyf', 53)
(14, 'lrlttuZV', 60)
(15, 'uoThAH', 35)
(16, 'BbqNvNyxUt', 20)
(17, 'LMFmwl', 20)
(18, 'fdAemt', 21)
(19, 'DTRLlSrMO', 31)
(20, 'BtnyO', 49)
(21, 'rCdmvJcco', 58)
(22, 'iJtQuq', 35)
(23, 'nqyDRhFJF', 23)
(24, 'aZRmpr', 43)
(25, 'EtsThzXS', 55)
(26, 'qBrfDEhWz', 51)
(27, 'SwEgWCQW', 42)
(28, 'mlJFlgsQjb', 36)
(29, 'bQHRlgA', 27)
(30, 'sdWjIqj', 54)
(31, 'OKYmJCjPu', 46)
(32, 'XDzXw', 51)
(33, 'YYlsMNW', 27)
(34, 'UotQnmCzFe', 23)
(35, 'bHhti', 44)
(36, 'MGFqSdf', 28)
(37, 'geKzQQoB', 37)
(38, 'lxahMRB', 27)
(39, 'lNjoY', 31)
(40, 'mQKVJ', 59)
(41, 'ycpfitHw', 43)
(42, 'zrZdZlws', 42)
(43, 'CyOCdpZ', 40)
(44, 'njxBbTdb', 42)
(45, 'qeywDQmjli', 46)
(46, 'IYZeenO', 22)
(47, 'wPYYv', 33)
(48, 'VcPnwcNOf', 53)
(49, 'WyFkCdIuQ', 20)
(50, 'HyuukIf', 25)