#  machine learning algorithms

## importing modules

In [1]:
import numpy as np 
import pandas as pd 
import matplotlib.pyplot as plt

## importing dataset

In [2]:
dataset=pd.read_csv("Data.csv")
dataset

   Country   Age   Salary Purchased
0   France  44.0  72000.0        No
1    Spain  27.0  48000.0       Yes
2  Germany  30.0  54000.0        No
3    Spain  38.0  61000.0        No
4  Germany  40.0      NaN       Yes
5   France  35.0  58000.0       Yes
6    Spain   NaN  52000.0        No
7   France  48.0  79000.0       Yes
8  Germany  50.0  83000.0        No
9   France  37.0  67000.0       Yes

In [6]:
#spliting features and lables 

X=dataset.iloc[:,:-1]
y=dataset.iloc[:,-1]

In [5]:
X

   Country   Age   Salary
0   France  44.0  72000.0
1    Spain  27.0  48000.0
2  Germany  30.0  54000.0
3    Spain  38.0  61000.0
4  Germany  40.0      NaN
5   France  35.0  58000.0
6    Spain   NaN  52000.0
7   France  48.0  79000.0
8  Germany  50.0  83000.0
9   France  37.0  67000.0

In [7]:
y

0     No
1    Yes
2     No
3     No
4    Yes
5    Yes
6     No
7    Yes
8     No
9    Yes
Name: Purchased, dtype: object

## handling missing data

In [14]:
from sklearn.impute import SimpleImputer

imputer=SimpleImputer(missing_values=np.nan,strategy="mean")
imputer.fit(X.iloc[:,1:3])
X.iloc[:,1:3]=imputer.transform(X.iloc[:,1:3])

In [15]:
X

   Country        Age        Salary
0   France  44.000000  72000.000000
1    Spain  27.000000  48000.000000
2  Germany  30.000000  54000.000000
3    Spain  38.000000  61000.000000
4  Germany  40.000000  63777.777778
5   France  35.000000  58000.000000
6    Spain  38.777778  52000.000000
7   France  48.000000  79000.000000
8  Germany  50.000000  83000.000000
9   France  37.000000  67000.000000

## encoding categorical data

In [22]:
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import OneHotEncoder

ct=ColumnTransformer(transformers=[("encoder",OneHotEncoder(),[0])],remainder='passthrough')

In [27]:
X=ct.fit_transform(X)
print(type(X))

<class 'numpy.ndarray'>

In [29]:
X[0]

array([1.0e+00, 0.0e+00, 1.0e+00, 0.0e+00, 1.0e+00, 0.0e+00, 0.0e+00,
       4.4e+01, 7.2e+04])

In [30]:
#encoding dependent variable 

from sklearn.preprocessing import LabelEncoder
le=LabelEncoder()
y=le.fit_transform(y)
print(y)

[0 1 0 0 1 1 0 1 0 1]

# train and test split dataset

In [33]:
from sklearn.model_selection import train_test_split
xtrain,xtest,ytrain,ytest=train_test_split(X,y,test_size=0.2,random_state=1)

In [36]:
print(xtrain)
print(type(xtrain))

[[0.00000000e+00 1.00000000e+00 0.00000000e+00 1.00000000e+00
  0.00000000e+00 0.00000000e+00 1.00000000e+00 3.87777778e+01
  5.20000000e+04]
 [0.00000000e+00 1.00000000e+00 0.00000000e+00 1.00000000e+00
  0.00000000e+00 1.00000000e+00 0.00000000e+00 4.00000000e+01
  6.37777778e+04]
 [1.00000000e+00 0.00000000e+00 1.00000000e+00 0.00000000e+00
  1.00000000e+00 0.00000000e+00 0.00000000e+00 4.40000000e+01
  7.20000000e+04]
 [0.00000000e+00 1.00000000e+00 0.00000000e+00 1.00000000e+00
  0.00000000e+00 0.00000000e+00 1.00000000e+00 3.80000000e+01
  6.10000000e+04]
 [0.00000000e+00 1.00000000e+00 0.00000000e+00 1.00000000e+00
  0.00000000e+00 0.00000000e+00 1.00000000e+00 2.70000000e+01
  4.80000000e+04]
 [1.00000000e+00 0.00000000e+00 1.00000000e+00 0.00000000e+00
  1.00000000e+00 0.00000000e+00 0.00000000e+00 4.80000000e+01
  7.90000000e+04]
 [0.00000000e+00 1.00000000e+00 0.00000000e+00 1.00000000e+00
  0.00000000e+00 1.00000000e+00 0.00000000e+00 5.00000000e+01
  8.30000000e+04]
 [1.00000000e+00 0.00000000e+00 1.00000000e+00 0.00000000e+00
  1.00000000e+00 0.00000000e+00 0.00000000e+00 3.50000000e+01
  5.80000000e+04]]

In [43]:
print(xtest)
print(type(xtest))

[[0.0e+00 1.0e+00 0.0e+00 1.0e+00 0.0e+00 1.0e+00 0.0e+00 3.0e+01 5.4e+04]
 [1.0e+00 0.0e+00 1.0e+00 0.0e+00 1.0e+00 0.0e+00 0.0e+00 3.7e+01 6.7e+04]]
<class 'numpy.ndarray'>

In [39]:
from sklearn.preprocessing import StandardScaler
sc=StandardScaler()
xtrain[:,7:]=sc.fit_transform(xtrain[:,7:])
xtest[:,7:]=sc.transform(xtest[:,7:])

In [40]:
xtrain

array([[ 0.        ,  1.        ,  0.        ,  1.        ,  0.        ,
         0.        ,  1.        , -0.19159184, -1.07812594],
       [ 0.        ,  1.        ,  0.        ,  1.        ,  0.        ,
         1.        ,  0.        , -0.01411729, -0.07013168],
       [ 1.        ,  0.        ,  1.        ,  0.        ,  1.        ,
         0.        ,  0.        ,  0.56670851,  0.63356243],
       [ 0.        ,  1.        ,  0.        ,  1.        ,  0.        ,
         0.        ,  1.        , -0.30453019, -0.30786617],
       [ 0.        ,  1.        ,  0.        ,  1.        ,  0.        ,
         0.        ,  1.        , -1.90180114, -1.42046362],
       [ 1.        ,  0.        ,  1.        ,  0.        ,  1.        ,
         0.        ,  0.        ,  1.14753431,  1.23265336],
       [ 0.        ,  1.        ,  0.        ,  1.        ,  0.        ,
         1.        ,  0.        ,  1.43794721,  1.57499104],
       [ 1.        ,  0.        ,  1.        ,  0.        ,  1.        ,
         0.        ,  0.        , -0.74014954, -0.56461943]])

In [42]:
xtest

array([[0.0e+00, 1.0e+00, 0.0e+00, 1.0e+00, 0.0e+00, 1.0e+00, 0.0e+00,
        3.0e+01, 5.4e+04],
       [1.0e+00, 0.0e+00, 1.0e+00, 0.0e+00, 1.0e+00, 0.0e+00, 0.0e+00,
        3.7e+01, 6.7e+04]])

In [47]:
from sklearn.preprocessing import StandardScaler

sc = StandardScaler()
xtrain[:, 7:] = sc.fit_transform(xtrain[:, 7:])
xtest[:, 7:] = sc.transform(xtest[:, 7:])

In [48]:
xtrain

array([[ 0.        ,  1.        ,  0.        ,  1.        ,  0.        ,
         0.        ,  1.        , -0.19159184, -1.07812594],
       [ 0.        ,  1.        ,  0.        ,  1.        ,  0.        ,
         1.        ,  0.        , -0.01411729, -0.07013168],
       [ 1.        ,  0.        ,  1.        ,  0.        ,  1.        ,
         0.        ,  0.        ,  0.56670851,  0.63356243],
       [ 0.        ,  1.        ,  0.        ,  1.        ,  0.        ,
         0.        ,  1.        , -0.30453019, -0.30786617],
       [ 0.        ,  1.        ,  0.        ,  1.        ,  0.        ,
         0.        ,  1.        , -1.90180114, -1.42046362],
       [ 1.        ,  0.        ,  1.        ,  0.        ,  1.        ,
         0.        ,  0.        ,  1.14753431,  1.23265336],
       [ 0.        ,  1.        ,  0.        ,  1.        ,  0.        ,
         1.        ,  0.        ,  1.43794721,  1.57499104],
       [ 1.        ,  0.        ,  1.        ,  0.        ,  1.        ,
         0.        ,  0.        , -0.74014954, -0.56461943]])

In [49]:
xtest

array([[ 0.,  1.,  0.,  1.,  0.,  1.,  0., -1., -1.],
       [ 1.,  0.,  1.,  0.,  1.,  0.,  0.,  1.,  1.]])