str.lower(), .str.upper(), .str.title(): Convert strings to lowercase, uppercase, or title case (first letter capitalized).

In [1]:
import pandas as pd

# Create a DataFrame
data = {'Name': ['Alice', 'Bob', 'Charlie'],
        'City': ['New York', 'Los Angeles', 'San Francisco']}
df = pd.DataFrame(data)

# Convert 'Name' column to lowercase
df['Name'] = df['Name'].str.lower()

# Convert 'City' column to uppercase
df['City'] = df['City'].str.upper()

print(df)

      Name           City
0    alice       NEW YORK
1      bob    LOS ANGELES
2  charlie  SAN FRANCISCO

str.strip(), .str.lstrip(), .str.rstrip(): Remove leading and trailing whitespaces.

In [2]:
# Strip whitespaces from 'Name' column
df['Name'] = df['Name'].str.strip()

print(df)

      Name           City
0    alice       NEW YORK
1      bob    LOS ANGELES
2  charlie  SAN FRANCISCO

str.replace(): Replace occurrences of a pattern with another string.

In [4]:
# Replace 'New' with 'Old' in 'City' column
df['City'] = df['City'].str.replace('NEW YORK', 'Old')

print(df)

      Name           City
0    alice            Old
1      bob    LOS ANGELES
2  charlie  SAN FRANCISCO

.str.contains(): Check if a pattern is contained in each string

In [5]:
# Check if 'a' is contained in 'Name' column
df['Contains_a'] = df['Name'].str.contains('a')

print(df)

      Name           City  Contains_a
0    alice            Old        True
1      bob    LOS ANGELES       False
2  charlie  SAN FRANCISCO        True

str.split(): Split each string into a list of substrings.

In [6]:
# Split 'City' column by whitespace
df['City_List'] = df['City'].str.split()

print(df)

      Name           City  Contains_a         City_List
0    alice            Old        True             [Old]
1      bob    LOS ANGELES       False    [LOS, ANGELES]
2  charlie  SAN FRANCISCO        True  [SAN, FRANCISCO]

.str.join(): Join the elements of each string list into a single string.

In [8]:
# Join elements of 'City_List' column with comma
df['City_Joined'] = df['City_List'].str.join(' ')

print(df)

      Name           City  Contains_a         City_List    City_Joined
0    alice            Old        True             [Old]            Old
1      bob    LOS ANGELES       False    [LOS, ANGELES]    LOS ANGELES
2  charlie  SAN FRANCISCO        True  [SAN, FRANCISCO]  SAN FRANCISCO

# .str.startswith(), .str.endswith(): Check if strings start or end with a specified substring.

In [9]:
# Check if 'Name' starts with 'A'
df['Starts_with_A'] = df['Name'].str.startswith('A')

# Check if 'City' ends with 'o'
df['Ends_with_o'] = df['City'].str.endswith('o')

print(df)

      Name           City  Contains_a         City_List    City_Joined  \
0    alice            Old        True             [Old]            Old
1      bob    LOS ANGELES       False    [LOS, ANGELES]    LOS ANGELES
2  charlie  SAN FRANCISCO        True  [SAN, FRANCISCO]  SAN FRANCISCO

   Starts_with_A  Ends_with_o
0          False        False
1          False        False
2          False        False

.str.extract(), .str.extractall(): Extract substrings using regular expressions.

In [11]:
# Extract first letter of 'Name' using a regex pattern
df['First_Letter'] = df['Name'].str.extract(r'^(\w)')

print(df)

      Name           City  Contains_a         City_List    City_Joined  \
0    alice            Old        True             [Old]            Old
1      bob    LOS ANGELES       False    [LOS, ANGELES]    LOS ANGELES
2  charlie  SAN FRANCISCO        True  [SAN, FRANCISCO]  SAN FRANCISCO

   Starts_with_A  Ends_with_o First_Letter
0          False        False            a
1          False        False            b
2          False        False            c

.str.len(): Get the length of each string.

In [12]:
# Get the length of 'Name' column
df['Name_Length'] = df['Name'].str.len()

print(df)

      Name           City  Contains_a         City_List    City_Joined  \
0    alice            Old        True             [Old]            Old
1      bob    LOS ANGELES       False    [LOS, ANGELES]    LOS ANGELES
2  charlie  SAN FRANCISCO        True  [SAN, FRANCISCO]  SAN FRANCISCO

   Starts_with_A  Ends_with_o First_Letter  Name_Length
0          False        False            a            5
1          False        False            b            3
2          False        False            c            7

.str.split() with expand: Split strings into multiple columns.

In [13]:
# Split 'City' column by whitespace into two separate columns
df[['City_Part1', 'City_Part2']] = df['City'].str.split(expand=True)

print(df)

      Name           City  Contains_a         City_List    City_Joined  \
0    alice            Old        True             [Old]            Old
1      bob    LOS ANGELES       False    [LOS, ANGELES]    LOS ANGELES
2  charlie  SAN FRANCISCO        True  [SAN, FRANCISCO]  SAN FRANCISCO

   Starts_with_A  Ends_with_o First_Letter  Name_Length City_Part1 City_Part2
0          False        False            a            5        Old       None
1          False        False            b            3        LOS    ANGELES
2          False        False            c            7        SAN  FRANCISCO

In [ ]:
.str.cat(): Concatenate strings in each element.

In [14]:

# Concatenate 'Name' and 'City' with a space in between
df['Name_City'] = df['Name'].str.cat(df['City'], sep=' ')

print(df)

      Name           City  Contains_a         City_List    City_Joined  \
0    alice            Old        True             [Old]            Old
1      bob    LOS ANGELES       False    [LOS, ANGELES]    LOS ANGELES
2  charlie  SAN FRANCISCO        True  [SAN, FRANCISCO]  SAN FRANCISCO

   Starts_with_A  Ends_with_o First_Letter  Name_Length City_Part1 City_Part2  \
0          False        False            a            5        Old       None
1          False        False            b            3        LOS    ANGELES
2          False        False            c            7        SAN  FRANCISCO

               Name_City
0              alice Old
1        bob LOS ANGELES
2  charlie SAN FRANCISCO

# .str.pad(): Pad strings with specified characters.

In [15]:
# Pad 'Name' column with '-' to make each string length 10
df['Padded_Name'] = df['Name'].str.pad(width=10, side='right', fillchar='-')

print(df)

      Name           City  Contains_a         City_List    City_Joined  \
0    alice            Old        True             [Old]            Old
1      bob    LOS ANGELES       False    [LOS, ANGELES]    LOS ANGELES
2  charlie  SAN FRANCISCO        True  [SAN, FRANCISCO]  SAN FRANCISCO

   Starts_with_A  Ends_with_o First_Letter  Name_Length City_Part1 City_Part2  \
0          False        False            a            5        Old       None
1          False        False            b            3        LOS    ANGELES
2          False        False            c            7        SAN  FRANCISCO

               Name_City Padded_Name
0              alice Old  alice-----
1        bob LOS ANGELES  bob-------
2  charlie SAN FRANCISCO  charlie---

In [16]:
#.str.findall(): Find all occurrences of a pattern or substring in each element of the string.

# Find all occurrences of 'a' or 'e' in 'Name' column
df['Vowels'] = df['Name'].str.findall(r'[ae]')

print(df)

      Name           City  Contains_a         City_List    City_Joined  \
0    alice            Old        True             [Old]            Old
1      bob    LOS ANGELES       False    [LOS, ANGELES]    LOS ANGELES
2  charlie  SAN FRANCISCO        True  [SAN, FRANCISCO]  SAN FRANCISCO

   Starts_with_A  Ends_with_o First_Letter  Name_Length City_Part1 City_Part2  \
0          False        False            a            5        Old       None
1          False        False            b            3        LOS    ANGELES
2          False        False            c            7        SAN  FRANCISCO

               Name_City Padded_Name  Vowels
0              alice Old  alice-----  [a, e]
1        bob LOS ANGELES  bob-------      []
2  charlie SAN FRANCISCO  charlie---  [a, e]

In [17]:
#.str.isnumeric(), .str.isalpha(), .str.isalnum()
# Check if 'Name' column consists of alphanumeric characters
df['Is_Alphanumeric'] = df['Name'].str.isalnum()

print(df)

      Name           City  Contains_a         City_List    City_Joined  \
0    alice            Old        True             [Old]            Old
1      bob    LOS ANGELES       False    [LOS, ANGELES]    LOS ANGELES
2  charlie  SAN FRANCISCO        True  [SAN, FRANCISCO]  SAN FRANCISCO

   Starts_with_A  Ends_with_o First_Letter  Name_Length City_Part1 City_Part2  \
0          False        False            a            5        Old       None
1          False        False            b            3        LOS    ANGELES
2          False        False            c            7        SAN  FRANCISCO

               Name_City Padded_Name  Vowels  Is_Alphanumeric
0              alice Old  alice-----  [a, e]             True
1        bob LOS ANGELES  bob-------      []             True
2  charlie SAN FRANCISCO  charlie---  [a, e]             True

In [18]:
#.str.split() with n parameter: Split strings into a maximum of n parts.

# Split 'City' column by whitespace into two separate columns, max split of 1
df[['City_Part1', 'City_Part2']] = df['City'].str.split(n=1, expand=True)

print(df)

      Name           City  Contains_a         City_List    City_Joined  \
0    alice            Old        True             [Old]            Old
1      bob    LOS ANGELES       False    [LOS, ANGELES]    LOS ANGELES
2  charlie  SAN FRANCISCO        True  [SAN, FRANCISCO]  SAN FRANCISCO

   Starts_with_A  Ends_with_o First_Letter  Name_Length City_Part1 City_Part2  \
0          False        False            a            5        Old       None
1          False        False            b            3        LOS    ANGELES
2          False        False            c            7        SAN  FRANCISCO

               Name_City Padded_Name  Vowels  Is_Alphanumeric
0              alice Old  alice-----  [a, e]             True
1        bob LOS ANGELES  bob-------      []             True
2  charlie SAN FRANCISCO  charlie---  [a, e]             True

In [19]:
#.str.slice(): Extract substrings from each element of the string using slice notation.

# Extract the first three characters from 'City' column
df['City_First_Three'] = df['City'].str.slice(0, 3)

print(df)

      Name           City  Contains_a         City_List    City_Joined  \
0    alice            Old        True             [Old]            Old
1      bob    LOS ANGELES       False    [LOS, ANGELES]    LOS ANGELES
2  charlie  SAN FRANCISCO        True  [SAN, FRANCISCO]  SAN FRANCISCO

   Starts_with_A  Ends_with_o First_Letter  Name_Length City_Part1 City_Part2  \
0          False        False            a            5        Old       None
1          False        False            b            3        LOS    ANGELES
2          False        False            c            7        SAN  FRANCISCO

               Name_City Padded_Name  Vowels  Is_Alphanumeric City_First_Three
0              alice Old  alice-----  [a, e]             True              Old
1        bob LOS ANGELES  bob-------      []             True              LOS
2  charlie SAN FRANCISCO  charlie---  [a, e]             True              SAN

str.partition(): Split the string at the first occurrence of a separator and return a tuple containing the part before the separator, the separator itself, and the part after the separator.

In [20]:

# Split 'City' column at the first space
df[['City_Part1', 'Separator', 'City_Part2']] = df['City'].str.partition(' ')

print(df)

      Name           City  Contains_a         City_List    City_Joined  \
0    alice            Old        True             [Old]            Old
1      bob    LOS ANGELES       False    [LOS, ANGELES]    LOS ANGELES
2  charlie  SAN FRANCISCO        True  [SAN, FRANCISCO]  SAN FRANCISCO

   Starts_with_A  Ends_with_o First_Letter  Name_Length City_Part1 City_Part2  \
0          False        False            a            5        Old
1          False        False            b            3        LOS    ANGELES
2          False        False            c            7        SAN  FRANCISCO

               Name_City Padded_Name  Vowels  Is_Alphanumeric  \
0              alice Old  alice-----  [a, e]             True
1        bob LOS ANGELES  bob-------      []             True
2  charlie SAN FRANCISCO  charlie---  [a, e]             True

  City_First_Three Separator
0              Old
1              LOS
2              SAN