In [2]:
import pandas as pd

# Create a DataFrame
data = {'A': [1, 2, 3, 4, 5],
        'B': [10, 20, 30, 40, 50]}
df = pd.DataFrame(data)
df

   A   B
0  1  10
1  2  20
2  3  30
3  4  40
4  5  50

# mean

In [4]:
# Calculate mean
mean = df.mean(axis=0)
print("Mean:\n", mean)

Mean:
 A     3.0
B    30.0
dtype: float64

In [5]:
# Calculate mean
mean = df.mean(axis=1)
print("Mean:\n", mean)

Mean:
 0     5.5
1    11.0
2    16.5
3    22.0
4    27.5
dtype: float64

# median

In [6]:
# Calculate median
median = df.median()
print("\nMedian:\n", median)

Median:
 A     3.0
B    30.0
dtype: float64

In [7]:
# Calculate median
median = df.median(axis=0)
print("\nMedian:\n", median)

Median:
 A     3.0
B    30.0
dtype: float64

In [8]:
# Calculate median
median = df.median(axis=1)
print("\nMedian:\n", median)

Median:
 0     5.5
1    11.0
2    16.5
3    22.0
4    27.5
dtype: float64

# min()

In [9]:
# Calculate minimum
min_value = df.min()
print("\nMinimum:\n", min_value)

Minimum:
 A     1
B    10
dtype: int64

In [10]:
# Calculate minimum
min_value = df.min(axis=0)
print("\nMinimum:\n", min_value)

Minimum:
 A     1
B    10
dtype: int64

In [11]:
# Calculate minimum
min_value = df.min(axis=1)
print("\nMinimum:\n", min_value)

Minimum:
 0    1
1    2
2    3
3    4
4    5
dtype: int64

# max()

In [12]:
# Calculate maximum
max_value = df.max()
print("\nMaximum:\n", max_value)

Maximum:
 A     5
B    50
dtype: int64

In [13]:
# Calculate maximum
max_value = df.max(axis=0)
print("\nMaximum:\n", max_value)

Maximum:
 A     5
B    50
dtype: int64

In [14]:
# Calculate maximum
max_value = df.max(axis=1)
print("\nMaximum:\n", max_value)

Maximum:
 0    10
1    20
2    30
3    40
4    50
dtype: int64

# standard deviation

In [15]:
# Calculate standard deviation
std_dev = df.std()
print("\nStandard Deviation:\n", std_dev)

Standard Deviation:
 A     1.581139
B    15.811388
dtype: float64

In [28]:
# Calculate standard deviation
std_dev = df.std(axis=0)
print("\nStandard Deviation:\n", std_dev)

Standard Deviation:
 A     1.581139
B    15.811388
dtype: float64

In [29]:
# Calculate standard deviation
std_dev = df.std(axis=1)
print("\nStandard Deviation:\n", std_dev)

Standard Deviation:
 0     6.363961
1    12.727922
2    19.091883
3    25.455844
4    31.819805
dtype: float64

# correlation

In [26]:
# Calculate correlation matrix
correlation_matrix = df.corr()
print("Correlation Matrix:\n", correlation_matrix)

Correlation Matrix:
      A    B
A  1.0  1.0
B  1.0  1.0

In [31]:
# Calculate correlation matrix
correlation_matrix = df.corr() #no axis 
print("Correlation Matrix:\n", correlation_matrix)

Correlation Matrix:
      A    B
A  1.0  1.0
B  1.0  1.0

# co variance

In [34]:
# Calculate covariance matrix
covariance_matrix = df.cov()
print("Covariance Matrix:\n", covariance_matrix)

Covariance Matrix:
       A      B
A   2.5   25.0
B  25.0  250.0

# value counts

In [36]:
# Count unique values in column 'A'
value_counts_A = df['A'].value_counts()
print("Value Counts for Column 'A':\n", value_counts_A)

Value Counts for Column 'A':
 A
1    1
2    1
3    1
4    1
5    1
Name: count, dtype: int64

In [40]:
# Count unique values in column 'A'
value_counts_A = df.value_counts
value_counts_A()

A  B
1  10    1
2  20    1
3  30    1
4  40    1
5  50    1
Name: count, dtype: int64

# summary statistics

In [41]:
# Get summary statistics
summary_stats = df.describe()
print("Summary Statistics:\n", summary_stats)

Summary Statistics:
               A          B
count  5.000000   5.000000
mean   3.000000  30.000000
std    1.581139  15.811388
min    1.000000  10.000000
25%    2.000000  20.000000
50%    3.000000  30.000000
75%    4.000000  40.000000
max    5.000000  50.000000

In [42]:
# Calculate cumulative sum
cumulative_sum = df.cumsum()
print("Cumulative Sum:\n", cumulative_sum)

Cumulative Sum:
     A    B
0   1   10
1   3   30
2   6   60
3  10  100
4  15  150

In [43]:
# Calculate skewness
skewness = df.skew()
print("Skewness:\n", skewness)

# Calculate kurtosis
kurtosis = df.kurtosis()
print("\nKurtosis:\n", kurtosis)

Skewness:
 A    0.0
B    0.0
dtype: float64

Kurtosis:
 A   -1.2
B   -1.2
dtype: float64