# missing values handling in pyton

Pandas provides isna() and isnull() methods to detect missing values in a DataFrame.

In [1]:
import pandas as pd

# Create a sample DataFrame with missing values
data = {'A': [1, None, 3, 4],
        'B': [5, 6, None, 8],
        'C': [9, 10, 11, None]}
df = pd.DataFrame(data)

# Detect missing values
missing_values = df.isna()
print(missing_values)

       A      B      C
0  False  False  False
1   True  False  False
2  False   True  False
3  False  False   True

In [2]:
# Detect missing values
missing_values = df.isnull()
print(missing_values)

       A      B      C
0  False  False  False
1   True  False  False
2  False   True  False
3  False  False   True

In [3]:
data=pd.read_csv("data.csv")
data.head(2)

   Duration          Date  Pulse  Maxpulse  Calories
0        60  '2020/12/01'    110       130     409.1
1        60  '2020/12/02'    117       145     479.0

In [4]:
# Detect missing values
missing_values = data.isnull()
print(missing_values)

    Duration   Date  Pulse  Maxpulse  Calories
0      False  False  False     False     False
1      False  False  False     False     False
2      False  False  False     False     False
3      False  False  False     False     False
4      False  False  False     False     False
5      False  False  False     False     False
6      False  False  False     False     False
7      False  False  False     False     False
8      False  False  False     False     False
9      False  False  False     False     False
10     False  False  False     False     False
11     False  False  False     False     False
12     False  False  False     False     False
13     False  False  False     False     False
14     False  False  False     False     False
15     False  False  False     False     False
16     False  False  False     False     False
17     False  False  False     False     False
18     False  False  False     False      True
19     False  False  False     False     False
20     False  False  False     False     False
21     False  False  False     False     False
22     False   True  False     False     False
23     False  False  False     False     False
24     False  False  False     False     False
25     False  False  False     False     False
26     False  False  False     False     False
27     False  False  False     False     False
28     False  False  False     False      True
29     False  False  False     False     False
30     False  False  False     False     False
31     False  False  False     False     False

# Counting Missing Values:

You can use isna().sum() or isnull().sum() to count missing values in each column.

In [5]:
# Count missing values in each column
missing_count = df.isna().sum()
print(missing_count)

A    1
B    1
C    1
dtype: int64

In [6]:
# Count missing values in each column
missing_count = df.isnull().sum()
print(missing_count)

A    1
B    1
C    1
dtype: int64

In [7]:
# Count missing values in each column
missing_count = data.isnull().sum()
print(missing_count)

Duration    0
Date        1
Pulse       0
Maxpulse    0
Calories    2
dtype: int64

# Dropping Missing Values

In [10]:
# Drop rows with any missing value
df_drop_rows = df.dropna()
df_drop_rows

     A    B    C
0  1.0  5.0  9.0

In [11]:

# Drop columns with any missing value
df_drop_cols = df.dropna(axis=1)
df_drop_cols

Empty DataFrame
Columns: []
Index: [0, 1, 2, 3]

In [12]:
# Drop rows with any missing value
df_drop_rows = data.dropna()
df_drop_rows

    Duration          Date  Pulse  Maxpulse  Calories
0         60  '2020/12/01'    110       130     409.1
1         60  '2020/12/02'    117       145     479.0
2         60  '2020/12/03'    103       135     340.0
3         45  '2020/12/04'    109       175     282.4
4         45  '2020/12/05'    117       148     406.0
5         60  '2020/12/06'    102       127     300.0
6         60  '2020/12/07'    110       136     374.0
7        450  '2020/12/08'    104       134     253.3
8         30  '2020/12/09'    109       133     195.1
9         60  '2020/12/10'     98       124     269.0
10        60  '2020/12/11'    103       147     329.3
11        60  '2020/12/12'    100       120     250.7
12        60  '2020/12/12'    100       120     250.7
13        60  '2020/12/13'    106       128     345.3
14        60  '2020/12/14'    104       132     379.3
15        60  '2020/12/15'     98       123     275.0
16        60  '2020/12/16'     98       120     215.2
17        60  '2020/12/17'    100       120     300.0
19        60  '2020/12/19'    103       123     323.0
20        45  '2020/12/20'     97       125     243.0
21        60  '2020/12/21'    108       131     364.2
23        60  '2020/12/23'    130       101     300.0
24        45  '2020/12/24'    105       132     246.0
25        60  '2020/12/25'    102       126     334.5
26        60      20201226    100       120     250.0
27        60  '2020/12/27'     92       118     241.0
29        60  '2020/12/29'    100       132     280.0
30        60  '2020/12/30'    102       129     380.3
31        60  '2020/12/31'     92       115     243.0

In [13]:
df_drop_rows.isnull().sum()

Duration    0
Date        0
Pulse       0
Maxpulse    0
Calories    0
dtype: int64

In [16]:
# Fill missing values with 0
df_filled = df.fillna(0)
df_filled

     A    B     C
0  1.0  5.0   9.0
1  0.0  6.0  10.0
2  3.0  0.0  11.0
3  4.0  8.0   0.0

In [18]:
# Impute missing values with mean of each column
df_imputed = df.fillna(df.mean())
df_imputed

          A         B     C
0  1.000000  5.000000   9.0
1  2.666667  6.000000  10.0
2  3.000000  6.333333  11.0
3  4.000000  8.000000  10.0

In [19]:
# Interpolate missing values
df_interpolated = df.interpolate()
df_interpolated

     A    B     C
0  1.0  5.0   9.0
1  2.0  6.0  10.0
2  3.0  7.0  11.0
3  4.0  8.0  11.0

In [20]:
# Drop rows with missing values only in column 'A'
df_drop_column_A_missing = df.dropna(subset=['A'])