# set introduction

In [ ]:
intro="""
a set is an unordered collection of unique elements. Sets are mutable, meaning you can add or remove elements from them, 
but the elements themselves must be immutable (such as numbers, strings, or tuples).

cannot index and slicing 

"""

In [2]:
#creating an empty set is tricky 

s1={} #default is dict not set
s2={1}
print(type(s1))
print(type(s2))

#to create empty set 
s3=set()
print(type(s3))

<class 'dict'>
<class 'set'>
<class 'set'>

In [6]:
#creating set 

s1={3,2,4,5,7,9,4,2,3,4,5,6,7,8}
print(s1)

s1={34,65,87,32,12,34,56,78,65,34,32}
print(s1)

{2, 3, 4, 5, 6, 7, 8, 9}
{32, 65, 34, 87, 56, 12, 78}

In [7]:
#sets cannot slicing and indexing 

s1={34,65,87,32,12,34,56,78,65,34,32}
print(s1[0])

TypeError: 'set' object is not subscriptable

## set functions and inbuilt methods

In [12]:
s1={34,65,87,32,12,34,56,78,65,34,32}
s2=set()
s3={0,2,3,4,5}

print(s1)

print(any(s1))
print(any(s2))
print(any(s3))

print(all(s1))
print(all(s2))
print(all(s3))

print("sum = ",sum(s1))
print("the max value = ",max(s1))
print("the min value = ",min(s1))
print('the len of set = ',len(s1))
print("the sorted set = ",sorted(s1))

for index,value in enumerate(s1):
    print(index,value)

{32, 65, 34, 87, 56, 12, 78}
True
False
True
True
True
False
sum =  364
the max value =  87
the min value =  12
the len of set =  7
the sorted set =  [12, 32, 34, 56, 65, 78, 87]
0 32
1 65
2 34
3 87
4 56
5 12
6 78

In [18]:
#inbuilt methods 
s1={21,23,24,25,27,28}
s2={27,28,29,30}

print(s1)
print(s2)

#add()
s2.add(32) #note only one argument has to give
print(s2)

#clear()
s2.clear() #clear all the data in set2
print(s2) 

#copy()
s3=s1.copy()
print("s3 set = ",s3)

{21, 23, 24, 25, 27, 28}
{27, 28, 29, 30}
{32, 27, 28, 29, 30}
set()
s3 set =  {21, 23, 24, 25, 27, 28}

In [24]:
s1={21,23,24,25,27,28}
s2={27,28,29,30}

print(s1)
print(s2)

s3=s1.difference(s2)
print("s1.difference(s2) value = ",s3)

s1.difference_update(s2)
print("s1.difference_update(s1) value = ",s1)

{21, 23, 24, 25, 27, 28}
{27, 28, 29, 30}
s1.difference(s2) value =  {24, 25, 21, 23}
s1.difference_update(s1) value =  {21, 23, 24, 25}

In [27]:
s1={21,23,24,25,27,28}
s2={27,28,29,30}

print(s1)
print(s2)

s1.discard(28)
print(s1)

s1.discard(288) #it value not present in set it will not throw error but remove method will throw error
print(s1)

s1.remove(27)
print(s1)

s1.remove(277) #it will throw error
print(s2)

{21, 23, 24, 25, 27, 28}
{27, 28, 29, 30}
{21, 23, 24, 25, 27}
{21, 23, 24, 25, 27}
{21, 23, 24, 25}

KeyError: 277