In [10]:
strings ="""
strings are sequences of characters. or group of characters
enclosed within either single quotes (' '), double quotes (" "), or triple quotes (''' ''' or """ """). 

strings are immutable (values cannot change)
"""

In [1]:
my_string = 'welcome to python'
my_string

'welcome to python'

In [2]:
#multi line string 
str1="""
welcome to python 
it is most powerful language 
it is very easy to learn 
"""
print(str1)

welcome to python
it is most powerful language
it is very easy to learn

In [4]:
# string indexing 
"""
postivie index start from zero and ends with n-1
nengative index start from -1 

Ex:
  W  e  l  c  o  m  e 
  0  1  2  3  4  5  6  #postive index 
 -7 -6 -5 -4 -3 -2 -1  #negative index 

"""
my_string = "welcome"
print(my_string[0])     # Output: w
print(my_string[6])     # Output: e
print(my_string[-1])    # Output: e

w
e
e

In [9]:
#string slicing [start:end:step] 
#end not included (n-1)

my_string = "welcome to python"
print(my_string[0:5])   
print(my_string[7:])    
print(my_string[:5])   
print(my_string[::2])
#to reverse a string 
print("the reverse string is")
print(my_string[::-1])

welco
 to python
welco
wloet yhn
the reverse string is
nohtyp ot emoclew

In [16]:
#negative slicing 
print(my_string[-5:-1])
print(my_string[:-5])
print(my_string[-11:])
print(my_string[-11:-3:2])

ytho
welcome to p
e to python
et y

In [18]:
#strings are immutable (cannot change)
my_string
my_string[0]="h" #cannot assign
my_string

TypeError: 'str' object does not support item assignment

In [19]:
#del particular element, immutable cant change and delete

str1="hi python "
del str1[0]
print(str1)

TypeError: 'str' object doesn't support item deletion

In [20]:
del str1

In [21]:
print(str1)

NameError: name 'str1' is not defined

## string operations

In [22]:
# string addition 
str1="welcome "
str2="python"

total=str1+str2
print(total)

welcome python

In [25]:
#string multiply  and cannot divide subtract module expo

#string multiply 
str3=str1*5
print(str3)

#string division 
#str4=str1/str2
str4=str1-str2

welcome welcome welcome welcome welcome

TypeError: unsupported operand type(s) for -: 'str' and 'str'

In [32]:
#two string literars together 

str1='python ' 'world'

str2=("python " "world") #donot put comma in middle. if put it will convert to tuple
print(str1)
print(str2)
print(type(str2))

str2=("python ", "world")
print(str2)
print(type(str2))

python world
python world
<class 'str'>
('python ', 'world')
<class 'tuple'>

# iterating

In [33]:
#iterating 

str1="hi welcome"

count=0

for i in str1:
    count+=1
print("the length of the string = ",count)

the length of the string =  10

In [38]:
#write a python program how many times particular charcter present get sting and char from user 

str1=input("enter the string = ")
char=input("enter the char to count in string =")

count=0

for i in str1:
    if char==i:
        count+=1

print("the char count = ",count)

enter the string = hi welcome to python program i love to program
enter the char to count in string =o
the char count =  7

In [36]:
#string membership

print("hi" in str1)
print("govind" in str1)
print("hi" not in str1)
print("govind" not in str1)

True
False
False
True

## built in function or predefined function

In [39]:
#1 str() function converts any data type to str data type 

a=875
print(a)
print(type(a))

a=str(a)
print(a)
print(type(a))

875
<class 'int'>
875
<class 'str'>

In [40]:
#2 len() function used to find length of the string 

str1="hi welcome to python"

str1_len =len(str1)
print("the string length is = ",str1_len)

the string length is =  20

In [43]:
#3 lower() and upper() 
str1="Hi my name is Govind"

print("orignal string = ",str1)
#string lower 
print("lower string = ",str1.lower())

#upper string 
print("upper string = ",str1.upper())

orignal string =  Hi my name is Govind
lower string =  hi my name is govind
upper string =  HI MY NAME IS GOVIND

In [46]:
#4 strip(), lstrip(), and rstrip()
my_string = "   Hello, World!   "
print(my_string.strip()) 
print(my_string.lstrip()) 
print(my_string.rstrip())

Hello, World!
Hello, World!
   Hello, World!

In [48]:
#5 split() 

#ex1
str1="tamilgovind2025@gmail.com"

str_split=str1.split("@")
print(str_split)

#ex2
my_string = "apple,banana,orange"
split_list = my_string.split(",")
print(split_list)

['tamilgovind2025', 'gmail.com']
['apple', 'banana', 'orange']

In [49]:
#6 join()  

my_list = ['apple', 'banana', 'orange']

delimiter = ","

joined_string = delimiter.join(my_list)

print(joined_string)

apple,banana,orange

In [54]:
#find() and index()
my_string = "Hello, World!"
print(my_string.find("World")) 
print(my_string.index("World")) 

print(my_string.find("lo"))
print(my_string.find("govind"))

7
7
3
-1

In [56]:
#replace() 

my_string = "Hello, World!"
print("original string = ",my_string)
print("replace string = ",my_string.replace("World", "Python"))

original string =  Hello, World!
replace string =  Hello, Python!

In [58]:
# startswith() and endswith()
my_string = "Hello, World!"
print(my_string.startswith("Hello"))  
print(my_string.endswith("!"))   
print(my_string.endswith("."))

True
True
False

In [59]:
#count()
#Counts the occurrences of a substring within the string.
my_string = "Hello, World!"
print(my_string.count("l"))  # Output: 3

3

In [60]:
#isdigit(), isalpha(), isalnum(), isspace(), islower(), isupper()
#it will return boolean type

print("123".isdigit())      
print("abc".isalpha())      
print("123abc".isalnum())  
print("   ".isspace())      
print("hello".islower())    
print("HELLO".isupper())

True
True
True
True
True
True

In [61]:
# title() and capitalize()
my_string = "hello world"
print(my_string.title())       # Output: Hello World
print(my_string.capitalize())  # Output: Hello world

Hello World
Hello world

In [62]:
#swap case
my_string = "Hello, World!"
print(my_string.swapcase())

hELLO, wORLD!

In [65]:
# encode() and decode()
my_string = "my name is govind"
print("orignal string = ",my_string)
encoded_string = my_string.encode("utf-8") #encoding format
print("encoded string = ",encoded_string)          
decoded_string = encoded_string.decode("utf-8")
print("decoded string = ",decoded_string)

orignal string =  my name is govind
encoded string =  b'my name is govind'
decoded string =  my name is govind

In [66]:
# center(width, fillchar), ljust(width, fillchar), and rjust(width, fillchar)
my_string = "govind"
print(my_string.center(10, '*'))  
print(my_string.ljust(10, '*'))   
print(my_string.rjust(10, '*'))

**govind**
govind****
****govind

In [68]:
my_string = str(25000)
print(my_string.center(10, ' '))  
print(my_string.ljust(10, ' '))   
print(my_string.rjust(10, ' '))

  25000
25000
     25000

In [71]:
my_string = str(25000.00)
print(my_string.rjust(10, ' '))
my_string = str(2500.00)
print(my_string.rjust(10, ' '))
my_string = str(2500000.00)
print(my_string.rjust(10, ' '))

   25000.0
    2500.0
 2500000.0

In [72]:
#zfill(width)
#Pads a numeric string with zeros on the left to fill a specified width.
numeric_string = "42"
print(numeric_string.zfill(5))

00042

partition(separator) and rpartition(separator) are string methods in Python that are used to split a string into three parts based on a specified separator. Here's how they work:

partition(separator): This method splits the string at the first occurrence of the specified separator and returns a tuple containing three elements:

The part of the string before the separator.
The separator itself.
The part of the string after the separator.
If the separator is not found in the string, the original string is returned as the first element of the tuple, and two empty strings are returned for the other elements.

In [73]:
s = "hello world"
print(s.partition(" "))  
print(s.partition("x"))

('hello', ' ', 'world')
('hello world', '', '')

rpartition(separator): This method is similar to partition(), but it splits the string at the last occurrence of the specified separator instead of the first one.

In [74]:
s = "hello world"
print(s.rpartition(" ")) 
print(s.rpartition("x"))

('hello', ' ', 'world')
('', '', 'hello world')

In [80]:
#expandtabs(tabsize)
my_string = "Hello\tWorld"
print(my_string.expandtabs(4))
print(my_string.expandtabs(10))
print(my_string.expandtabs(20))

Hello   World
Hello     World
Hello               World


maketrans() and translate()
These functions are used together for translating characters in a string. 
maketrans() creates a translation table, and translate() applies it to the string.

In [81]:
translation_table = str.maketrans("aeiou", "12345")
my_string = "Hello, World!"
print(my_string)
print(my_string.translate(translation_table))

Hello, World!
H2ll4, W4rld!

In [83]:
#find(), rfind(), index(), and rindex()
"""
These functions are used to find the index of the first (or last) 
occurrence of a substring within the string. 
find() and index() return -1 if the substring is not found, while rfind() and 
rindex() search from the end of the string.

"""
my_string = "Hello, World!"
print(my_string.find("o"))     
print(my_string.rfind("o"))     
print(my_string.index("o"))     
print(my_string.rindex("o"))

4
8
4
8

asefold()
Similar to lower(), but more aggressive; it converts the string to lowercase and removes all case distinctions in a string.

In [84]:
my_string = "HELLO"
print(my_string.casefold())

hello

In [85]:
str="welcome to python"
print(str.capitalize())

Welcome to python

In [86]:
#enumerate
my_string = "Hello"

for index, char in enumerate(my_string):
    print(f"Character '{char}' at index {index}")

Character 'H' at index 0
Character 'e' at index 1
Character 'l' at index 2
Character 'l' at index 3
Character 'o' at index 4

In [87]:
my_string = "Hello"
index = 0

while index < len(my_string):
    char = my_string[index]
    print(f"Character '{char}' at index {index}")
    index += 1

Character 'H' at index 0
Character 'e' at index 1
Character 'l' at index 2
Character 'l' at index 3
Character 'o' at index 4

In [88]:
#string formating 
print("she asked, "what is python"") #it whill throw an error

SyntaxError: invalid syntax. Perhaps you forgot a comma? (4176339214.py, line 2)

In [89]:
print('she asked, "what is python ?"')

she asked, "what is python ?"

In [91]:
str1="tamilgovind"
enum=enumerate(str1) #it will return on object 
print(enum)
enum=list(enum)
print(enum)

<enumerate object at 0x00000203766C3330>
[(0, 't'), (1, 'a'), (2, 'm'), (3, 'i'), (4, 'l'), (5, 'g'), (6, 'o'), (7, 'v'), (8, 'i'), (9, 'n'), (10, 'd')]

In [107]:
a="a man A cat A codg nn 12344343 r"
s=""
for i in a:
    #print(i,end=" ")
    if i.isalnum():
        #print(i,end=" ")
        s+=i.lower()
        #print(s,end="")
print(s)

amanacatacodgnn12344343r

In [110]:
#q1 write a python program to replace a char from a string 

str1=input("enter the string = ")
str2=""
find_char=input("enter the char to find = ")
rep_char=input("enter the char to replace = ")

for i in range(len(str1)):
    if find_char==str1[i]:
        str2=str2+rep_char
    else:
        str2+=str1[i]

print("the orignal string = ",str1)
print("the replace string = ",str2)

enter the string = govinda govinda govinda
enter the char to find = o
enter the char to replace = m
the orignal string =  govinda govinda govinda
the replace string =  gmvinda gmvinda gmvinda