# tuple introduction

In [6]:
intro ="""
tuples are also collection of objects or data, ordered indexed and immutable 

Tuples in Python are ordered collections of elements, similar to lists, but with one major difference:
tuples are immutable, meaning once they are created, their elements cannot be modified, added, or 
removed.

You can create a tuple by enclosing elements within parentheses ()

why tuple:

1. generally tuple use for hetrogeneous (different)data types and list used for homogeneous (similar)
   data types 
2. tuples are immutable. iterating through tuple faster than list 

3.  tuple contain immutable elements can be used for dictionary keys. in list not possible 

4. if you want to donot change the data. then tuple is best write protected 

paranthesis optinal. but good practice to use parenthesis 
"""

a=23,45,67,43
print(a)
print(type(a))

b=(23,45,67,34)
print(b)
print(type(b))

(23, 45, 67, 43)
<class 'tuple'>
(23, 45, 67, 34)
<class 'tuple'>

In [24]:
#tuple tricky for single object or data 

a=(10)
print(a)
print(type(a))

a=(10,) #single data also use comma to convert to tuple
print(a)
print(type(a))

10
<class 'int'>
(10,)
<class 'tuple'>

In [1]:
#empty tuple 

a=()
print(a)
print(type(a))

#another way to create empty tuple 

b=tuple()
print(b)
print(type(b))

()
<class 'tuple'>
()
<class 'tuple'>

In [4]:
#creating a tuple 

my_tuple = (1, 2, 3, 4, 5,7,8,9,10,11,12)
print(my_tuple)
print(type(my_tuple))
print(id(my_tuple))

(1, 2, 3, 4, 5, 7, 8, 9, 10, 11, 12)
<class 'tuple'>
1909707441856

In [8]:
a=(23,False,45.67,3+3j,[1,2,3,4],(7,8,9),"welcome to python")
print(a)
print(type(a))

print(a[-1])
print(type(a[-1]))

(23, False, 45.67, (3+3j), [1, 2, 3, 4], (7, 8, 9), 'welcome to python')
<class 'tuple'>
welcome to python
<class 'str'>

## tuple indexing and slicing

In [ ]:
"""
t1=( 23,  56,  78,  98,  32,  45,  12,  78,  54,  34)
      0    1    2    3    4    5    6    7    8    9  #postive indexing 
    -10   -9   -8   -7   -6   -5   -4   -3   -2   -1  #negative indexing 

"""

In [16]:
t1=(23,56,78,98,32,45,12,78,54,34)

#indexing 
print(t1[0])
print(t1[-1])
print(t1[2])

23
34
78

In [14]:
a=(23,False,45.67,3+3j,[1,2,3,4],(7,8,9),"welcome to python")
print(a[4])
print(a[4][3])

print(a[5])
print(a[5][1])

print(a[6])
print(a[6][1])

[1, 2, 3, 4]
4
(7, 8, 9)
8
welcome to python
e

In [21]:
#slicing 
#[start:end:step]  end always ends with -1 

t1=(23,56,78,98,32,45,12,78,54,34)

#indexing 
print(t1[2:])
print(t1[:4])
print(t1[2:5])

print(t1[::2])

#negative slicing 

print(t1[-5:-2])
print(t1[-5:])
print(t1[:-5])

#revese the tuple 
print(t1[::-1])

(78, 98, 32, 45, 12, 78, 54, 34)
(23, 56, 78, 98)
(78, 98, 32)
(23, 78, 32, 12, 54)
(45, 12, 78)
(45, 12, 78, 54, 34)
(23, 56, 78, 98, 32)
(34, 54, 78, 12, 45, 32, 98, 78, 56, 23)

In [25]:
#changing the tuple value (not possible let try)
t1=(23,56,78,98,32,45,12,78,54,34)
t1[0]=100
print(t1)

TypeError: 'tuple' object does not support item assignment

In [26]:
#cannot remove the tuple elements 

t1=(23,56,78,98,32,45,12,78,54,34)
del t1[0]
print(t1)

TypeError: 'tuple' object doesn't support item deletion

In [27]:
del t1 #we can delete the tuple but remember cannot able to del tuple elements 
print(t1)

NameError: name 't1' is not defined

In [32]:
t1=(23,56,78,[23,4,5,67,8,9])
print(t1)
t1=(23,45,55,[65,12,13,21,10],["govind","ram","sam"])
print(t1)

#inside tuple we have list. list item can be changed 
print(t1[4])
print(t1[4][2])

print("original tuple = ",t1)
t1[4][2]="sam kumar"
print("modify tuple = ",t1)

(23, 56, 78, [23, 4, 5, 67, 8, 9])
(23, 45, 55, [65, 12, 13, 21, 10], ['govind', 'ram', 'sam'])
['govind', 'ram', 'sam']
sam
original tuple =  (23, 45, 55, [65, 12, 13, 21, 10], ['govind', 'ram', 'sam'])
modify tuple =  (23, 45, 55, [65, 12, 13, 21, 10], ['govind', 'ram', 'sam kumar'])

In [34]:
#tuple concatenate 
t1=[21,23,25,27]
t2=[23,21,24,22]

new=t1+t2
print("new tuple is = ",new)

new=t1*3
print("new tuple is = ",new)

new tuple is =  [21, 23, 25, 27, 23, 21, 24, 22]
new tuple is =  [21, 23, 25, 27, 21, 23, 25, 27, 21, 23, 25, 27]

## inbuild methods and function in tuple

In [ ]:
#functions 
"""
all()
any()
enumerate()
len()
max()
min()
sum()
sorted()
tuple()
"""

In [36]:
#all() 
a=(21,0,0,23,0,5)
b=(21,23,45,67,54)

print(all(a))
print(all(b))

False
True

In [38]:
#any()

a=()
b=(25,0,5)
c=(22,23,24)

print(any(a))
print(any(b))
print(any(c))

False
True
True

In [39]:
#enumerate it will return index,values in tuple format 

a=(21,45,67,32,45)

for index,value in enumerate(a):
    print(index,value)

0 21
1 45
2 67
3 32
4 45

In [40]:
a=(21,45,67,32,45)

for (index,value) in enumerate(a):
    print(index,value)

0 21
1 45
2 67
3 32
4 45

In [41]:
a=(21,45,67,32,45)

print("the length of tuple is = ",len(a))
print("the maximum value of tuple = ",max(a))
print("the minimum value of tuple = ",min(a))
print("the sum of the tuple = ",sum(a))

the length of tuple is =  5
the maximum value of tuple =  67
the minimum value of tuple =  21
the sum of the tuple =  210

In [43]:
#tuple()

a=[12,13,14]
print(a)
print(type(a))

#convert list to tuple 
a=tuple(a)
print(a)
print(type(a))

[12, 13, 14]
<class 'list'>
(12, 13, 14)
<class 'tuple'>

In [45]:
#sorted()
a=(21,45,67,32,45)

print("original tuple = ",a)
a=sorted(a)
print("the sorted tuple = ",a)

original tuple =  (21, 45, 67, 32, 45)
the sorted tuple =  [21, 32, 45, 45, 67]

In [1]:
a=(21,45,67,32,45)

print("original tuple = ",a)
a=sorted(a)
print("the sorted tuple = ",a)

original tuple =  (21, 45, 67, 32, 45)
the sorted tuple =  [21, 32, 45, 45, 67]

##  tuple methods

In [6]:
#count() and index()

a=(22,25,46,76,33,28,22,34,22)
#count 
value=a.count(22)
print(value)

#index
index=a.index(46)
print(index)

#index 
index=a.index(22)
print(index)

3
2
0

In [7]:
a=(22,25,46,76,33,28,22,34,22)
#count 
value=a.count(220)
print(value)

0

In [8]:
#index 
index=a.index(220)
print(index)

ValueError: tuple.index(x): x not in tuple

In [18]:
#packing and unpacking 

a=(23,65,45) #packing 

b,c,d=a #unpacking 
print(b,c,d)

23 65 45

In [28]:
# Tuple Unpacking with * (Extended Unpacking):

my_tuple = (1, 2, 3, 4, 5)
a, *rest, b = my_tuple
print(a)    
print(b)    
print(rest) 
print(tuple(rest))

1
5
[2, 3, 4]
(2, 3, 4)

In [29]:
#swapping values without using third variable

a = 1
b = 2
a, b = b, a
print(a, b)

2 1

In [30]:
#tuple comprehensions 

my_list = [1, 2, 3]
my_tuple = tuple(x ** 2 for x in my_list)
print(my_tuple)

(1, 4, 9)

In [32]:
# Returning Multiple Values from Functions
def min_max(values):
    return min(values), max(values)

values = [12, 32, 3, 74, 65]
min_val, max_val = min_max(values)
print(min_val, max_val)

3 74

 Tuple as Dictionary Keys: Tuples, being immutable, can be used as keys in dictionaries. This is useful when you need to create a composite key based on multiple values

In [33]:
my_dict = {('John', 25): 'Engineer', ('Alice', 30): 'Manager'}
print(my_dict[('John', 25)])

Engineer

In [36]:
#tuple as function arguments 

def my_function(*args):
    total=0
    for arg in args:
        total+=arg
    print("total = ",total)

my_function(1, 2, 3)
my_function(12, 22, 43,56,32)
my_function(32,11)
my_function(22,43,55,6)

total =  6
total =  165
total =  43
total =  126

In [37]:
def my_function(a, b, c):
    print(a, b, c)

my_tuple = (1, 2, 3)
my_function(*my_tuple)

1 2 3

In [39]:
#zip function 
names = ['Alice', 'Bob', 'Charlie']
ages = [30, 25, 35]

for name, age in zip(names, ages):
    print(name, age)

Alice 30
Bob 25
Charlie 35

In [41]:
#conversion 
my_tuple = (1, 2, 3)
my_list = list(my_tuple)

my_list = [4, 5, 6]
my_tuple = tuple(my_list)
print(type(my_tuple))

<class 'tuple'>

In [23]:
#membership operators 

a=(23,44,67,89,90,45,35)
print(a)

print(90 in a)
print(100 in a )

print(100 not in a)
print(90 not in a )

(23, 44, 67, 89, 90, 45, 35)
True
False
True
False

In [25]:
#iterating the tuples 
a=(23,44,67,89,90,45,35)

for i in a:
    print(i)

23
44
67
89
90
45
35

## collection of collections of tuple

In [9]:
#tuples 

a=(23,25,27,29)
b=(33,35,37,39)
c=(43,45,47,49)

nested_tuple=(a,b,c)
print(nested_tuple)

((23, 25, 27, 29), (33, 35, 37, 39), (43, 45, 47, 49))

In [10]:
t1=((11,12,13,14),(21,22,23,24),(31,31,33,34))
print(t1)

((11, 12, 13, 14), (21, 22, 23, 24), (31, 31, 33, 34))

In [11]:
print(t1[0])

(11, 12, 13, 14)

In [12]:
print(t1[0][3])

14

In [13]:
#sorting 
t1=((21,24,12,34),(54,76,21,35),(56,75,21,56),(56,87,92,45))
print(t1)

((21, 24, 12, 34), (54, 76, 21, 35), (56, 75, 21, 56), (56, 87, 92, 45))

In [15]:
s1=sorted(t1,key = lambda x : x[1])
print(s1)

[(21, 24, 12, 34), (56, 75, 21, 56), (54, 76, 21, 35), (56, 87, 92, 45)]

In [16]:
s1=sorted(t1,key = lambda x : x[2])
print(s1)

[(21, 24, 12, 34), (54, 76, 21, 35), (56, 75, 21, 56), (56, 87, 92, 45)]

In [17]:
s1=sorted(t1,key = lambda x : x[3])
print(s1)

[(21, 24, 12, 34), (54, 76, 21, 35), (56, 87, 92, 45), (56, 75, 21, 56)]