In [ ]:
intro="""
A dictionary in Python is a mutable, unordered collection of key-value pairs. It's also known as an 
associative array or hash table in other programming languages. 
Each key in a dictionary must be unique, and it maps to a corresponding value. 
Keys must be of an immutable data type such as strings, numbers, or tuples, while values can be of any
data type, including lists, tuples, sets, or  even other dictionaries.

"""

In [2]:
#empty dict 

a={}
print(a)
print(type(a))

#alterway 

b=dict()
print(b)
print(type(b))

{}
<class 'dict'>
{}
<class 'dict'>

In [6]:
#create a dict 

mydict1={
    "name":"govind",
    "age":34,
    "city":"chennai",
    "idno":1146,
}

print(mydict1)

{'name': 'govind', 'age': 34, 'city': 'chennai', 'idno': 1146}

In [7]:
mydict1["age"]=25
mydict1

{'name': 'govind', 'age': 25, 'city': 'chennai', 'idno': 1146}

In [8]:
#methods 
mydict2=mydict1.copy()
mydict2

{'name': 'govind', 'age': 25, 'city': 'chennai', 'idno': 1146}

In [9]:
mydict2.clear()
mydict2

{}

In [10]:
print(mydict1.keys())

dict_keys(['name', 'age', 'city', 'idno'])

In [11]:
print(mydict1.values())

dict_values(['govind', 25, 'chennai', 1146])

In [12]:
print(mydict1.items())

dict_items([('name', 'govind'), ('age', 25), ('city', 'chennai'), ('idno', 1146)])

In [13]:
mydict1.get("name")

'govind'

In [16]:
mydict1.pop("idno")
mydict1

{'name': 'govind', 'age': 25, 'city': 'chennai'}

In [17]:
mydict1.pop("age")
mydict1

{'name': 'govind', 'city': 'chennai'}

In [1]:
#create a dict 

mydict1={
    "name":"govind",
    "age":34,
    "city":"chennai",
    "idno":1146,
}

print(mydict1)

{'name': 'govind', 'age': 34, 'city': 'chennai', 'idno': 1146}

In [7]:
mydict1 = dict.fromkeys(["name"])

print(mydict1)

{'name': None}

In [9]:
#popitem()

#create a dict 

mydict1={
    "name":"govind",
    "age":34,
    "city":"chennai",
    "idno":1146,
}

print(mydict1)
mydict1.popitem()
print(mydict1)

{'name': 'govind', 'age': 34, 'city': 'chennai', 'idno': 1146}
{'name': 'govind', 'age': 34, 'city': 'chennai'}

In [10]:
mydict1.popitem()
print(mydict1)

{'name': 'govind', 'age': 34}

In [11]:
#
mydict1.popitem("name")# it will not take arguments where as pop takes arguments
print(mydict1)

TypeError: dict.popitem() takes no arguments (1 given)

In [12]:
#create a dict 

mydict1={
    "name":"govind",
    "age":34,
    "city":"chennai",
    "idno":1146,
}

print(mydict1)

{'name': 'govind', 'age': 34, 'city': 'chennai', 'idno': 1146}

In [20]:
# Create an empty dictionary
mydict = {}

# Initialize dictionary keys using dict.fromkeys()
mydict.update(dict.fromkeys(["name", "age", "city"],[10]))

# Print the initialized dictionary
print(mydict)

{'name': [10], 'age': [10], 'city': [10]}

In [22]:
# Create an empty dictionary
mydict = {}

# Initialize dictionary keys using dict.fromkeys()
mydict.update(dict.fromkeys(["name", "age", "city"]))

# Print the initialized dictionary
print(mydict)

{'name': None, 'age': None, 'city': None}

In [15]:
#del a dict 
#for remove element in dict we use pop,popitem, clear can use 
#pop takes arguments, popitem cannot take arguments, arbitary it can take

print(mydict)
del mydict #mydict deleted now
print(mydict)

{'name': None, 'age': None, 'city': None}

NameError: name 'mydict' is not defined

## functions in dict

In [26]:
#all(),any\(),len(),cmp(),sorted()

#create a dict 

mydict1={
    "name":"govind",
    "age":34,
    "city":"chennai",
    "idno":1146,
}

mydict2={}

#all() returns true if all keys of dict are true and if dict is empty 

print(mydict1)
print(all(mydict1))
print(all(mydict2))

#any() #true if value are there, return false if empty
print(any(mydict1))
print(any(mydict2))

{'name': 'govind', 'age': 34, 'city': 'chennai', 'idno': 1146}
True
True
True
False

In [27]:
mydict1={
    "name":"govind",
    "age":34,
    "city":"chennai",
    "idno":21,
}

In [28]:
#len()
dict_len=len(mydict1)
print(dict_len)

4

In [35]:
mydict1={
    "name":"govind",
    "age":34,
    "city":"chennai",
    "idno":21,
}

mydict2={
    "name":"govind",
    "age":34,
    "city":"chennai",
}

In [31]:
mydict1={
    "name":"govind",
    "age":34,
    "city":"chennai",
    "idno":21,
}

mydict2={
    "name":"govind",
    "age":34,
    "city":"chennai",
}

c=sorted(mydict1)
c

['age', 'city', 'idno', 'name']

In [37]:
#dict comprehensions 

dict1={x:x*2 for x in range(1,11)}
print(dict1)

{1: 2, 2: 4, 3: 6, 4: 8, 5: 10, 6: 12, 7: 14, 8: 16, 9: 18, 10: 20}