# list notes

## intro

list ="""
The list is one of the fundamental data structures in Python. 
It is a mutable, ordered collection of items, where each item is stored at a specific index within 
the list. Lists can contain elements of different data types, including other lists (nested lists).

litst= collection of objects/data to store under a variable, mututable(value can change), ordered with index 

You can create a list by enclosing comma-separated values within square brackets [ ].

and also called as compund data types and have any numbers of items and different or similar data 
"""

In [2]:
#create empty list 

l1=[]
print(l1)
print(type(l1))

#another way to create 
l2=list()
print(l2)
print(type(l2))

[]
<class 'list'>
[]
<class 'list'>

In [4]:
#create a list

my_list1 = [21,22,23,54,32,21,45,67]
print(my_list1)
print(type(my_list1))

[21, 22, 23, 54, 32, 21, 45, 67]
<class 'list'>

In [14]:
l1=[22,22.5,"govind",True,[22,44,55],{11,22,33},(21,34,55),{"key":[21,54,21]},3+3j,None]
print("the list values = ",l1)
print("the data type is ",type(l1))
print("the 0th index value = ",l1[0])
print(l1[7]["key"][2])

the list values =  [22, 22.5, 'govind', True, [22, 44, 55], {33, 11, 22}, (21, 34, 55), {'key': [21, 54, 21]}, (3+3j), None]
the data type is  <class 'list'>
the 0th index value =  22
21

## list indexing and slicing

l1=[12,13,14,15]
     0  1  2  3  #positve index 
    -4 -3 -2 -1  #negative index

In [16]:
l1 = [21,22,23,54,32,21,45,67]
print(l1[0])

21

In [17]:
print(l1[0:4])

[21, 22, 23, 54]

In [18]:
print(l1[::2])

[21, 23, 32, 45]

In [19]:
#negative indexing 
print(l1[-1])

67

In [21]:
#negative slicing 
print(l1[-5:-2])

[54, 32, 21]

In [20]:
#reverse 
print(l1[::-1])

[67, 45, 21, 32, 54, 23, 22, 21]

In [22]:
#slicing 
#[start:stop:step]
print(l1[::])

[21, 22, 23, 54, 32, 21, 45, 67]

In [23]:
print(l1[2:])

[23, 54, 32, 21, 45, 67]

In [25]:
print(l1[:7])

[21, 22, 23, 54, 32, 21, 45]

In [26]:
print(l1[3:7])

[54, 32, 21, 45]

In [27]:
print(l1[1:7:2])

[22, 54, 21]

## copy vs view

In [38]:
#view 
list1=[23,34,56,67,87,98,34,67,54,21]
print("original list = ",l1)

new_list=list1
print("new list = ",new_list)

new_list[0]=100
print("the new list = ",new_list)
print('the original list =',list1)

original list =  [23, 34, 56, 67, 87, 98, 34, 67, 54, 21]
new list =  [23, 34, 56, 67, 87, 98, 34, 67, 54, 21]
the new list =  [100, 34, 56, 67, 87, 98, 34, 67, 54, 21]
the original list = [100, 34, 56, 67, 87, 98, 34, 67, 54, 21]

In [39]:
#copy
list1=[23,34,56,67,87,98,34,67,54,21]
print("original list = ",l1)

new_list=list1.copy()
print("new list = ",new_list)

new_list[0]=100
print("the new list = ",new_list)
print('the original list =',list1)

original list =  [23, 34, 56, 67, 87, 98, 34, 67, 54, 21]
new list =  [23, 34, 56, 67, 87, 98, 34, 67, 54, 21]
the new list =  [100, 34, 56, 67, 87, 98, 34, 67, 54, 21]
the original list = [23, 34, 56, 67, 87, 98, 34, 67, 54, 21]

## inbuilt methods and function in list

In [42]:
#all() #return true if all eleemets true
l1=[22,23,45,32]
l2=[22,0,1,0]

print(all(l1))
print(all(l2))

True
False

In [46]:
#any() #return true if any element present
l1=[22,3,33,0]
l2=[]

print(any(l2))
print(any(l1))

False
True

In [50]:
#list() convert any data to list 
a=12,12,13
print(a)
print(type(a))
a=list(a)
print(a)
print(type(a))

(12, 12, 13)
<class 'tuple'>
[12, 12, 13]
<class 'list'>

In [51]:
#enumerate(list)  #it will return index,values from enumerate(list) in tuple format
l1=[22,23,45,32]

for index,value in enumerate(l1):
    print("index = ",index,"value = ",value)

index =  0 value =  22
index =  1 value =  23
index =  2 value =  45
index =  3 value =  32

In [56]:
print("max value = ",max(l1))
print("min value = ",min(l1))
print("the sum value = ",sum(l1))
print("the len of list = ",len(l1))

max value =  45
min value =  22
the sum value =  122
the len of list =  4

In [63]:
#sorted() 
print(l1)
print("the ascendiing sorted list ",sorted(l1))

print("the descending sorted list ",sorted(l1)[::-1])
print("the descending sorted list ",sorted(l1,reverse=True))

[22, 23, 45, 32]
the ascendiing sorted list  [22, 23, 32, 45]
the descending sorted list  [45, 32, 23, 22]
the descending sorted list  [45, 32, 23, 22]

In [64]:
#methods
l1=[22,23,45,32]

In [68]:
#append()  #can add only one data at a time 
print("original list = ",l1)
l1.append(25)
print("append list = ",l1)

a2=(21,34,56,43,67,2)
l1.append(a2)
print("append list = ",l1)

a2=[34,56,78,32,45]
l1.append(a2)
print("append list = ",l1)

original list =  [22, 23, 45, 32, 25, 25, (21, 34, 56, 43, 67, 2), 25, (21, 34, 56, 43, 67, 2), [34, 56, 78, 32, 45]]
append list =  [22, 23, 45, 32, 25, 25, (21, 34, 56, 43, 67, 2), 25, (21, 34, 56, 43, 67, 2), [34, 56, 78, 32, 45], 25]
append list =  [22, 23, 45, 32, 25, 25, (21, 34, 56, 43, 67, 2), 25, (21, 34, 56, 43, 67, 2), [34, 56, 78, 32, 45], 25, (21, 34, 56, 43, 67, 2)]
append list =  [22, 23, 45, 32, 25, 25, (21, 34, 56, 43, 67, 2), 25, (21, 34, 56, 43, 67, 2), [34, 56, 78, 32, 45], 25, (21, 34, 56, 43, 67, 2), [34, 56, 78, 32, 45]]

In [72]:
l1=[22,23,45,32]

In [73]:
#clear() it wil clear all the elements in list and return empty list 
print(l1)
l1.clear()
print(l1)

[22, 23, 45, 32]
[]

In [75]:
#copy()
l1=[22,23,45,32]
print(l1)
l2=l1.copy()
print(l2)

[22, 23, 45, 32]
[22, 23, 45, 32]

In [76]:
#count(num) #it will return number of counts 
l1=[22,23,45,32,22,33,22,56,22]
print(l1.count(22))

4

In [77]:
#extend() 

l1=[21,34,56,78]
print("original list = ",l1)
l1.extend([21,22,54,67])
print("the extended list = ",l1)

original list =  [21, 34, 56, 78]
the extended list =  [21, 34, 56, 78, 21, 22, 54, 67]

In [80]:
#index(num)
#it will return first index of given numbers if num not available throw an error 
l1=[21,34,56,78,21,21,34,78]
print(l1.index(56))

print(l1.index(568))

2

ValueError: 568 is not in list

In [83]:
#insert(index,value)
l1=[23,54,67,32,45,69]
print("the original list = ",l1)

l1.insert(1,100)
print("the inserted list = ",l1)

a=(2,250)
l1.insert(a[0],a[1])
print("the inserted list = ",l1)

the original list =  [23, 54, 67, 32, 45, 69]
the inserted list =  [23, 100, 54, 67, 32, 45, 69]
the inserted list =  [23, 100, 250, 54, 67, 32, 45, 69]

In [85]:
#pop() removing the last element in list 

print(l1)
print(l1.pop())
print(l1)

[23, 100, 250, 54, 67, 32, 45]
45
[23, 100, 250, 54, 67, 32]

In [88]:
#remove 
l1=[23,54,34,21,78,35,54,21,54]
print(l1)
l1.remove(78)
print(l1)

[23, 54, 34, 21, 78, 35, 54, 21, 54]
[23, 54, 34, 21, 35, 54, 21, 54]

In [94]:
#reverse() it will take inplace
print(l1)
l1.reverse()
print(l1)

[54, 21, 54, 35, 21, 34, 54, 23]
[23, 54, 34, 21, 35, 54, 21, 54]

In [97]:
#sort()
l1=[23,45,65,21,34,87,32]
print(l1)
l1.sort()
print(l1)

[23, 45, 65, 21, 34, 87, 32]
[21, 23, 32, 34, 45, 65, 87]

In [99]:
l1.sort(reverse=True)
print(l1)

[87, 65, 45, 34, 32, 23, 21]

## deleting particular element and list

In [100]:
print(l1)

[87, 65, 45, 34, 32, 23, 21]

In [101]:
del l1[0]
print(l1)

[65, 45, 34, 32, 23, 21]

In [102]:
del l1[0:2]
print(l1)

[34, 32, 23, 21]

In [103]:
del l1

In [104]:
print(l1)  #deleted the list

NameError: name 'l1' is not defined

In [105]:
l1=[1,2,3,4]
l2=[1,2,3,4]

total=l1+l2
print(total)

[1, 2, 3, 4, 1, 2, 3, 4]

In [106]:
print(l2*3)

[1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4]

In [107]:
l1=[1,2,3,4]
l2=[1,2,3,4]

total=l1-l2
print(total)

TypeError: unsupported operand type(s) for -: 'list' and 'list'

## list comprehensive

In [108]:
#create a list using range 

l1=[i for i in range(1,10,2)]
print(l1)

[1, 3, 5, 7, 9]

In [109]:
l1=[i for i in range(1,11)]
print(l1)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [110]:
l1=[i for i in range(10)]
print(l1)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [111]:
a="welcome to python"
l1=[x for x in a]
print(l1)

['w', 'e', 'l', 'c', 'o', 'm', 'e', ' ', 't', 'o', ' ', 'p', 'y', 't', 'h', 'o', 'n']

In [112]:
l1=[x**2 for x in range(10)]
print(l1)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [114]:
#odd numbers using if 
my_list=[x for x in range(1,21) if x%2==1]
print(my_list)

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

In [115]:
#even numbers using if 
my_list=[x for x in range(1,21) if x%2==0]
print(my_list)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [117]:
l1=[21,45,67,89,13,15,12,11,98,34,21,16,87,23]

l2=[x for x in l1 if x>=18]
print(l2)
l3=[x for x in l1 if x<18]
print(l3)

[21, 45, 67, 89, 98, 34, 21, 87, 23]
[13, 15, 12, 11, 16]

In [119]:
l3=[x+y for x in ["python ","java ","cpp "] for y in ["program",'langauge',"script"]]
print(l3)

['python program', 'python langauge', 'python script', 'java program', 'java langauge', 'java script', 'cpp program', 'cpp langauge', 'cpp script']

In [120]:
l3=[x*y for x in ["python ","java ","cpp "] for y in [1,2,3]]
print(l3)

['python ', 'python python ', 'python python python ', 'java ', 'java java ', 'java java java ', 'cpp ', 'cpp cpp ', 'cpp cpp cpp ']

In [121]:
#cannot possible to add str and int x is string and y is int of list
l3=[x+y for x in ["python ","java ","cpp "] for y in [1,2,3]]
print(l3)

TypeError: can only concatenate str (not "int") to str

## membership and iteration in list

In [122]:
l1=[21,23,24,54,67,55]
print(25 in l1)
print(99 not in l1)

False
True

In [123]:
fruits =["apple","banana","cherry","dragon"]

for fruit in fruits:
    print("i like ",fruit)

i like  apple
i like  banana
i like  cherry
i like  dragon

## collection of collections

list of lists

In [127]:
a=[1,2,3]
b=[4,5,6]
c=[7,8,9]

l1=[a,b,c]
print(l1)
print(type(l1))
print(l1[0])
print(type(l1[0]))

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]
<class 'list'>
[1, 2, 3]
<class 'list'>

In [132]:
list1=[[12,13,14,15],[16,17,18,19],[20,21,22,23]]
print(l1)

print("\n\n")
for inner in list1:
    print(inner)
    
print("\n\n")
for inner in list1:
    for inner2 in inner:
        print(inner2)

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]



[12, 13, 14, 15]
[16, 17, 18, 19]
[20, 21, 22, 23]



12
13
14
15
16
17
18
19
20
21
22
23

## slicing and indexing

In [133]:
list1=[[23,13,44,15],[81,17,54,19],[20,29,72,23]]

print(list1[0])

[23, 13, 44, 15]

In [134]:
print(list1[0][0])

23

In [138]:
print(list1)

[[23, 13, 44, 15], [81, 17, 54, 19], [20, 29, 72, 23]]

In [141]:
print(list1[0:2][::])

[[23, 13, 44, 15], [81, 17, 54, 19]]

In [146]:
print(list1[0:2][0][2])

44

## sorting

In [147]:
list1=[[23,13,44,15],[81,17,54,19],[20,29,72,23]]
print(list1)

[[23, 13, 44, 15], [81, 17, 54, 19], [20, 29, 72, 23]]

In [148]:
sorted_list=sorted(list1,key=lambda x : x[0])
print("the sorted list ")
print(sorted_list)

the sorted list
[[20, 29, 72, 23], [23, 13, 44, 15], [81, 17, 54, 19]]

In [149]:
sorted_list=sorted(list1,key=lambda x : x[1])
print("the sorted list ")
print(sorted_list)

the sorted list
[[23, 13, 44, 15], [81, 17, 54, 19], [20, 29, 72, 23]]

In [150]:
list1=[[23,13,44,15],[81,17,54,19],[20,29,72,23]]
flattened_list = [item for sublist in list1 for item in sublist]
flattened_list

[23, 13, 44, 15, 81, 17, 54, 19, 20, 29, 72, 23]